body{
    font-family: 'Poppins', sans-serif;
    background-color: #EEEEEE; 
}
.top-part{
    display: flex;
    background-color: #2D25A0;
    height: 640px; 
}
.half-width{
    width: 48%;
}

.half-width img:hover  {width: 120%;
    transition: .75s;
    transform: rotate(360deg);
}
.half-width:hover h1 {font-size: 75px;
    transition: .75s;
    transform: rotate(360deg);
}
.half-width img{
    width: 90%;
    margin-top: 30px; 
    
}
.left-part{
    margin-top: 30px;
    padding-top:100px;
    padding-left: 130px;
   
 }
 .left-part h1{
     color: white;
     font-size: 60px;
     font-weight: 700;
     line-height: .40;
 }

 a{
     text-decoration: none;
     color: white;
     background-color: #E02C6D;
     padding: 10px 40px;
     font-weight: 400;
 }
 .right-part{
    margin-right: 100px;
 }
 .right-part a{
    padding: 10px 30px;
     float: right;
     margin-top: 40px;
     
 }
 .players{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     align-items:center;
     justify-content: center;
     margin: 70px 150px;    
     padding-right:20px;
     
 }
 .player{
    padding: 15px;  
     width: 300px;
     height: 426px;
     margin: 15px; 
     background-color: #FFFFFF;
        
 }
 .player h2{
     font-size: 28px;
     font-weight: 700;
     line-height: .4;
 }
 .player p{
     font-size: 16px;
     line-height: 26px;
     color: #6C6C6C;
     
 }

 .player img{
    width: 300px;
    height: 240;
      
 }
/*  Extra-Part Css start */

.extra-part{
    width: 80%;
    margin: auto;     
}
.videos{
    display: flex;
 }
.extra-part iframe{
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 20px;
}
.contact-form{
    margin-bottom: 50px;
   display: flex;
   justify-content: center; 
}
form{
    display: flex;
  flex-direction: column;
 
}
button{
    background-color:green;
    border-radius: 30px;
    padding: 10px 20px;
    border: none;
}
/* Extra-Part Css end */

/* Footer CSS xtart */
 #footer{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 213px;
    width: 483.87103271484375px;
    background-color:#FFF; 
}
#footer img{
    height: 110px;
    width: 483px;    
}
.social-icon i{
    width: 19px;
    height: 19px;
    padding:8px;
    margin: 7px;
    color: gray; 
    background-color: lightgray;
    border-radius: 50%;  
}
#footer h4{
   font-size: 24;
   color:#000000;
   }

/*    Responsive CSS start */

   @media only screen and (max-width: 360px) {
    .top-part{
        display: flex;
        flex-direction: column;
        background-color: #2D25A0;
        height: 750px;}
    .left-part {
        justify-content: center;
        text-align: left;           
        padding: 50px;      

        }
           
    .left-part h1{        
            font-size: 27px;
            }
             
    .right-part a{
        margin-right: 40px;  }  

    .half-width{       
        width: 100%;
   }

    .half-width img{
        width: 95%;
        }
    .players{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 5px; 
        width: 100%;          
           
            
        }
        
.videos{
    display: flex;
    flex-direction: column;
 }
 .extra-part iframe{
     width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 20px;
}
#footer{
    text-align: center;
    margin-left: auto;
    margin-right: auto;    
    width: 360px;  
} 
    #footer img{
        width: 70%;       
    }
    #footer h4{
        font-size: 20px;}       
             

   }
   /*    Responsive CSS end */

